.wallet-connect {
    margin-bottom: 20px;
  }
  
  .wallet-connect button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Стили для компонента TransactionList */
  .transaction-list {
    margin-top: 20px;
  }
  
  .transaction-list h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .transaction-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .transaction-list li {
    margin-bottom: 10px;
  }
  
  .transaction-list li div {
    margin-bottom: 5px;
  }